<form class="form-horizontal" data-ng-submit="vm.saveItem()">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Item Value:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter some text..." data-ng-model="vm.item.name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
            <a data-ui-sref="list" class="btn text-underline"><< Go Back</a>
        </div>
    </div>
</form>
