<a data-ui-sref="add-item" class="btn btn-primary">Add Item</a>
<table class="table table-bordered">
    <caption>List</caption>
    <tr>
        <th>Item Name</th>
        <th></th>
        <th></th>
    </tr>
    <tr data-ng-repeat="item in vm.items track by $index">
        <td data-ng-bind="::item.name"></td>
        <td><a href="" data-ui-sref="edit-item({'id': item.id})" class="text-underline">edit</a></td>
        <td><a href="" data-ng-click="vm.removeItem(item.id)" class="text-underline">remove</a></td>
    </tr>
</table>
